header {
  height: 80px;
}

header div {
  height: 80px;
  display: flex;
  justify-content: space-between;
}

header a {
  height: 100%;
}

.logo {
  align-self: center;
  height: 80%;
  margin-top: 10px;
  box-shadow: none;
}

@media (max-width: 610px) {
  /* .logo {
    width: 100%;
  } */
  .logo {
    display: none;
  }
}
