.webcam {
  width: 100%;
  margin-bottom: 20px;
}
.webcam img {
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  border-radius: 5px;
}

.webcam p {
  display: block;
  width: 90%;
  margin: auto;
  font-size: 14px;
}

.webcam h2 {
  margin-top: 20px;
}
.webcam h2:first-of-type {
  margin-top: 3px;
}

.webcam a {
  color: #557a95;
}
